server {
    listen 80;
    server_name {{ prom }};
    return 301 https://$host$request_uri;
}
server {
    listen 443 ssl;
    server_name {{ prom }};

    ssl_certificate {{ crt_path }};
    ssl_certificate_key {{ key_path }};

    location / {
        proxy_pass http://10.14.0.6:9090;
       proxy_set_header Host $host;
       proxy_set_header X-Real-IP $remote_addr;
       proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
       proxy_set_header X-Forwarded-Proto $scheme;
    }
}
